include dash_json_grid/dash_json_grid.min.js
include dash_json_grid/dash_json_grid.min.js.map
include dash_json_grid/async-DashJsonGrid.js
include dash_json_grid/async-DashJsonGrid.js.map
include dash_json_grid/*-shared.js
include dash_json_grid/*-shared.js.map
include dash_json_grid/metadata.json
include dash_json_grid/package-info.json
include README.md
include Changelog.md
include CONTRIBUTING.md
include CODE_OF_CONDUCT.md
include SECURITY.md
include review_checklist.md
include LICENSE
include package.json
include version/__init__.py
include tests/data.json
include tests/data_incomplete.json
include examples/*
