include dash_json_grid/dash_json_grid.min.js
include dash_json_grid/dash_json_grid.min.js.map
include dash_json_grid/async-*.js
include dash_json_grid/async-*.js.map
include dash_json_grid/*-shared.js
include dash_json_grid/*-shared.js.map
include dash_json_grid/metadata.json
include dash_json_grid/package-info.json
include README.md
include LICENSE
include package.json
include version/__init__.py