# Packages needed to run the tests.
# Switch into a virtual environment
# pip install -r requirements.txt

dash[dev,testing]>=2.0.0

# Required by testing
chromedriver-binary-auto
pytest
pytest-base-url
pytest-flask
pytest-html
pytest-metadata
py
pytest-selenium
pytest-variables
pytest-xdist
