.jsGridContainer {
  overflow-x: auto;
  width: 100%;
  margin-bottom: var(--ifm-paragraph-margin-bottom);

  & > div > table {
    margin-bottom: 0;

    tr {
      background-color: transparent;

      &:nth-child(2n) {
        background-color: transparent;
      }
    }
  }
}
