body {
  --jg-bg-color: #fff;
  --jg-border-color: #a5a5a5;
  --jg-cell-border-color: #ddd;

  --jg-key-color: #32373b;
  --jg-index-color: #00f;

  --jg-number-color: #007acc;
  --jg-boolean-color: #00f;
  --jg-string-color: #a31515;
  --jg-object-color: #00009f;

  --jg-table-header-bg-color: #ddd;
  --jg-table-icon-color: #333;

  --jg-select-highlight-bg-color: #c1def133;
  --jg-search-highlight-bg-color: #8885;
}
